<div class="wrapper">

    <h2>Bejelentkezés</h2>

    {{>error_flash}}

    <form method="POST" action="/login">
        <div class="form-group">
            <label for="username">Felhasználónév</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Jelszó</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="spacer"></div>
        <input type="submit" value="Bejelentkezés" id="submit">
    </form>

</div>
