<div class="wrapper">

    <h2>Regisztráció</h2>

    {{>error_flash}}

    <form method="POST" action="/register">
        <div class="form-group">
            <label for="username">Felhasználónév</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="fullName">Teljes név</label>
            <input type="text" name="fullName" id="fullName">
        </div>

        <div class="form-group">
            <label for="password">Jelszó</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="form-group">
            <label for="passwordConfirm">Jelszó mégegyszer</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm">
        </div>

        <div class="spacer"></div>
        <input type="submit" value="Regisztráció" id="submit">
    </form>

</div>
